accelerate==0.26.1
decord==0.6.0
diffusers==0.11.1
einops==0.7.0
elevenlabs>=2.27.0
face-alignment==1.4.1
ffmpeg-python==0.2.0
gradio>=5.22.0
typer==0.20.1
httpx>=0.28.1
huggingface-hub==0.28.1
imageio==2.27.0
ipywidgets>=8.1.5
matplotlib>=3.10.8
mediapipe==0.10.11
numpy<2.0
omegaconf==2.3.0
openai>=1.68.2
openai-agents>=0.0.15
elevenlabs==2.27.0
websockets==13.0
opencv-python==4.9.0.80
psutil>=7.0.0
pydantic==2.10.6
pypdf>=5.4.0
pypdf2>=3.0.1
python-dotenv>=1.0.1
requests>=2.32.3
setuptools>=78.1.0
soundfile>=0.13.1
torchvision>=0.17.1
transformers==4.38.0
xformers==0.0.25